# Pandas Cookbook

## 10장. 시계열 분석

### 소개

In [8]:
import numpy as np
import pandas as pd

### 파이썬과 Pandas의 날짜 도구 차이 이해

In [2]:
import datetime

date = datetime.date(year = 2013, month = 6, day = 7)
time = datetime.time(hour = 12, minute = 30, second = 19, microsecond = 463198)
dt = datetime.datetime(year = 2013,  month = 6, day = 7, hour = 12, minute = 30, second = 19, microsecond = 463198)

print ("date is ", date)
print ("time is ", time)
print ("datetime is ", dt)

date is  2013-06-07
time is  12:30:19.463198
datetime is  2013-06-07 12:30:19.463198

In [4]:
td = datetime.timedelta(weeks = 2, days = 5, hours = 10, minutes = 20, seconds = 6.73, milliseconds = 99, microseconds = 8)
print(td)

19 days, 10:20:06.829008

In [5]:
print("new date is", date + td)
print("new datetime is", dt + td)

new date is 2013-06-26
new datetime is 2013-06-26 22:50:26.292206

In [9]:
time + td

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [10]:
pd.Timestamp(year = 2012, month = 12, day = 21, hour = 5, minute =10, second = 8, microsecond =99)

Timestamp('2012-12-21 05:10:08.000099')

In [11]:
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [14]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [15]:
pd.Timestamp('Jan 3, 2019 20:45.56')

Timestamp('2019-01-03 20:45:33')

In [16]:
pd.Timestamp('2016-01-05T05:34:43.1234556789')

Timestamp('2016-01-05 05:34:43.123455678')

In [17]:
pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [18]:
pd.Timestamp(5000, unit = 'D')

Timestamp('1983-09-10 00:00:00')

In [20]:
pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [21]:
pd.to_datetime('2015-13-05', dayfirst = True)

Timestamp('2015-05-13 00:00:00')

In [24]:
pd.to_datetime('Start Date: Sep 30, 2017 Start Time: 1:30 pm', format = 'Start Date: %b %d, %Y Start Time: %I:%M %p')

Timestamp('2017-09-30 13:30:00')

In [25]:
pd.to_datetime(100, unit ='D', origin = '2013-1-1')

Timestamp('2013-04-11 00:00:00')

### DatetimeIndex와만 작동하는 메서드 사용하기

### 주간 범죄 건수 알아보기

### 주별 범죄와 교통사고를 별도로 종합

### 범죄를 주별과 연도로 측정

### DatetimeIndex에서 익명 함수를 사용한 그룹화

### Timestamp와 다른 열을 이용한 그룹화

### merge_asof를 사용해 범죄율이 20% 낮은 마지막 시기 찾기

###